body {
    background-image: url(https://touchpoint.brownadvisory.com/brown-web/resources/images/loginFullBackground.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(54, 193, 211, 0.651);
    gap: 30%;
}

p{
    background-color: black;
    font-size: x-large;
    color: palevioletred;
}

#code {
    display: flex;
    flex-direction: column;
    justify-content: center; 
     align-items: center; 
    color: yellow;
    background-color: brown;
    /* height: 110px;
    /* width: 200px; */
} 
